body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: #00274C;
    color: white;
}

header {
    text-align: center;
}

header>h1 {
    font-size: 24px;
    margin: 10px;
}

header>img {
    width: 40%;
}

p{
    padding: 5px;
}

.skip {
    position: absolute;
    background-color: #FFCB05;
    color: #00274C;
    top: -40px;
    left: 0;
}

.skip:focus {
    top: 0;
    padding: 10px;
    background-color: #FFCB05;
    color: #00274C;
    height: 25px;
}

.nav_links {
    display: flex;
    background-color: white;
    padding: 10px 0;
    flex-direction: column;
}

nav li {
    /* display: flex; */
    font-size: 12pt;
    /* justify-content: space-around; */
    margin: 5px;
    border: #00274C solid;
    padding: 15px;
}

nav a {
    color: #00274C;
    font-weight: bold;
    text-decoration: none;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    border: 3px solid #FFCB05;
    border-radius: 15px;
    background-color: white;
    color: black;
    align-items: baseline;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

.info img {
    width: 60%;
    margin: 10px;
    grid-column: 1/3;
}

.info h2 {
    text-align: center;
    grid-column: 1/-1;
    font-weight: bolder;
    padding-bottom: 5px;
}

.info h3 {
    padding-top: 5px;
    grid-column: 1/-1;
    font-weight: bold;
}

.info p {
    grid-column: 1/-1;
}

.info ol {
    grid-column: 1/-1;
    margin-left: 20px;
}

.info ul {
    grid-column: 1/-1;
    margin-left: 20px;
}

.info a {
    grid-column: 1/-1;
    color: #00274C;
}

.info figcaption {
    grid-column: 1/3;
    font-size: 8px;
    font-weight: lighter;
    padding-bottom: 5px;
    color: #00274C;
}

#life-outside-classroom {
    border: #00274C dashed;
}

#odei img {
    grid-column: 1/4;
    width: 100%;
}

#mission img {
    grid-column: 1/4;
    width: 100%;
    border: #00274C solid 4px;
    background-color: #FFEBA3;
}

#mission{
    justify-items: center;
}

#news img {
    grid-column: 2/3;
    width: 100%;
}

#news {
    justify-items: center;
}

#talk img {
    grid-column: 1/-1;
    width: 100%;
}

#firstgen-grad{
    align-items: center;
    justify-items: center;
}

#firstgen-grad a {
    font-size: 24px;
}

footer {
    display: grid;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

footer a {
    color: #FFCB05;
}

footer p {
    margin: 10px;
    font-size: 10px;
}


.fof{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.four{
	  display: table-cell;
	  vertical-align: middle;
}

.four h1{
    font-size: 64px;
    color: #FFCB05;
}

@media screen and (min-width: 700px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header img {
        width: 15%;
    }
    .nav_links {
        background-color: #00274C;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav li{
        background-color: white;
    }

    #firstgen-grad a {
        font-size: 32px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}